.footer {
    margin-bottom: 1rem;

    &-content {
        font-size: 1.2rem;

        #author,
        a {
            color: $purple-color;
        }
    }
}

#footer-content.black {
    color: $black-color;
}