.footer {
    margin-top: 10rem;
    margin-bottom: 1rem;
    position: relative;

    &-content {
        font-size: 1.2rem;

        #author,
        a {
            color: var(--font-color);
        }
    }
}