.forecast {
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: var(--third-color);
        box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, .1);
        width: 100%;
        height: 100%;
        margin-top: 4rem;

        @include breakpoint(small) {
            width: 40rem;
        }

        @include breakpoint(medium) {
            min-width: 60rem;
        }

        &-date {
            text-align: center;
            margin-top: 1rem;
        }

        &-weather,
        .forecast {
            display: flex;
            padding: 1rem 2rem;

            &__temp-details,
            .temp {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding-left: 1rem;

                &-details {
                    display: flex;
                    font-size: 1.2rem;

                    .temp-min {
                        padding-left: .3rem;
                    }
                }
            }
        }

        &-temp {
            width: 100%;
            display: flex;
            justify-content: center;

            .temp {
                text-align: end;
                padding-right: 1rem;
                font-size: 2.5rem;
                color: var(--second-font-color);
            }
        }

        &:hover {
            background-color: var(--forecast-color);
            color: $white-color;
        }
    }
}