.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__timezone {
        text-align: center;

        #current-location {
            color: $purple-color;
            padding-bottom: 2.5rem;
            letter-spacing: .1rem;
        }

        #current-location.dark {
            color: $bleumarin-color;
        }
    }

    &__weather {
        margin-top: 2rem;
        min-height: 18rem;
        width: 100%;
        border: 1px solid $blue-matte-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $blue-matte-color;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, .2);
        transition: all .3s ease-in-out;

        &:hover {
            transform: translateY(-.5rem);
            background-color: $blue-color;
        }

        @include breakpoint(small) {
            width: 40rem;
        }

        @include breakpoint(medium) {
            width: 50rem;
            min-height: 20rem;
        }

        .weather-location {
            #location-timezone {
                font-size: 2.4rem;
                padding: 1rem 0;
            }
        }

        .weather-container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-around;

            .weather-temperature {
                display: flex;
                font-size: 2.5rem;
                align-self: center;

                #deg {
                    color: $grey-color;
                }
            }
        }
    }

    &__description {
        #temperature-description {
            font-size: 1.8rem;
            padding: 1rem 0;
        }
    }

    &__search,
    .search {
        margin-top: 4rem;

        &__location-text {
            text-align: center;
            color: $red-color;
        }

        &__location-description {
            text-align: center;
            margin-top: 1.5rem;
            font-size: 1.4rem;
            color: $grey-color;
        }

        &__location-description.dark {
            color: black;
        }
    }

    &__add-locations {
        margin: 3rem auto;
        font-size: 2.5rem;
        cursor: pointer;
        color: $grey-color;

        &:hover {
            color: $white-color;
        }
    }
}

.weather-loading {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: $black-color;
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    @keyframes loading {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(0.6);
            background-color: $bleumarin-color;
        }

        100% {
            transform: scale(1)
        }
    }
}