*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $roboto;
    font-weight: 400;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100%;
    background-color: $black-color;
    color: $white-color;
    padding: 1rem 2rem;
}

// dark and light toggle

body.dark {
    background-color: $white-color;
}