.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;

    &__timezone {
        text-align: center;

        #current-location {
            color: var(--secondary-color);
            padding-bottom: 2.5rem;
            letter-spacing: .1rem;
        }
    }

    &__weather {
        padding: 1.5rem 0;
        margin-top: 2rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--third-color);
        box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, .1);
        transition: all .3s ease-in-out;
        border-radius: .5rem;

        &:hover {
            transform: translateY(-.5rem);
            background-color: var(--primary-color);
            box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .1);
        }

        @include breakpoint(small) {
            width: 40rem;
        }

        @include breakpoint(medium) {
            min-width: 60rem;
            min-height: 30rem;
        }

        .weather-location {
            .location-timezone {
                display: flex;
                justify-content: center;
                font-size: 2.4rem;
                padding-bottom: 2rem;

                @include breakpoint(medium) {
                    padding-bottom: 1.5rem;
                }

                #country {
                    padding-left: 1rem;
                }
            }
        }

        .weather-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;

            .weather-temperature {
                display: flex;
                font-size: 3rem;
                align-self: center;
                color: var(--temp-color);

                @include breakpoint(medium) {
                    font-size: 3.5rem;
                }
            }
        }
    }

    &__weather:nth-child(2) {
        min-height: 18rem;

        @include breakpoint(medium) {
            min-height: 20rem;
        }
    }

    &__description {
        #temperature-description {
            font-size: 1.8rem;
            padding: 1rem 0;
            padding-top: 2rem;
            color: var(--secondary-color);

            @include breakpoint(medium) {
                margin-top: 1.5rem;
            }
        }
    }

    &__search,
    .search {
        padding-top: 4rem;

        &__location-text {
            padding-bottom: 3rem;
            text-align: center;
            color: var(--third-font-color);
        }
    }
}

.weather-loading {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    @keyframes loading {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(0.6);
            background-color: var(--secondary-color);
        }

        100% {
            transform: scale(1)
        }
    }
}

#icon {
    height: 9rem;
    width: 9rem;

    @include breakpoint(medium) {
        height: 9rem;
        width: 9rem;
    }
}

.temperature-limit {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;

    #temp-max {
        padding-right: .5rem;
    }
}