:root {
  --primary-color: #ffffff;
  --secondary-color: #353688;
  --third-color: #ffffff;
  --font-color: #090d28;
  --second-font-color: #c51c1c;
  --third-font-color: #090d28;
  --bg-color: #ffffff;
  --forecast-color: #353688;
}

[data-theme='dark'] {
  --primary-color: #353688;
  --secondary-color: #7768e5;
  --third-color: #21264e;
  --font-color: #ffffff;
  --second-font-color: #c51c1c;
  --third-font-color: #c5c5c5;
  --bg-color: #090d28;
  --forecast-color: #353688;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 1rem 2rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.header__timezone {
  text-align: center;
}

.header__timezone #current-location {
  color: var(--secondary-color);
  padding-bottom: 2.5rem;
  letter-spacing: .1rem;
}

.header__weather {
  padding: 1.5rem 0;
  margin-top: 2rem;
  width: 100%;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--third-color);
  -webkit-box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: .5rem;
}

.header__weather:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: var(--primary-color);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 499px) {
  .header__weather {
    width: 40rem;
  }
}

@media screen and (min-width: 899px) {
  .header__weather {
    min-width: 60rem;
    min-height: 30rem;
  }
}

.header__weather .weather-location .location-timezone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 899px) {
  .header__weather .weather-location .location-timezone {
    margin-bottom: 1.5rem;
  }
}

.header__weather .weather-location .location-timezone #country {
  padding-left: 1rem;
}

.header__weather .weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__weather .weather-container .weather-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.8rem;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 899px) {
  .header__weather .weather-container .weather-temperature {
    font-size: 3.5rem;
  }
}

.header__weather:nth-child(2) {
  min-height: 18rem;
}

@media screen and (min-width: 899px) {
  .header__weather:nth-child(2) {
    min-height: 20rem;
  }
}

.header__description #temperature-description {
  font-size: 1.8rem;
  padding: 1rem 0;
  margin-top: 2rem;
  color: var(--secondary-color);
}

@media screen and (min-width: 899px) {
  .header__description #temperature-description {
    margin-top: 1.5rem;
  }
}

.header__search,
.header .search {
  margin-top: 4rem;
}

.header__search__location-text,
.header .search__location-text {
  margin-bottom: 3rem;
  text-align: center;
  color: var(--secondary-color);
}

.weather-loading {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    background-color: var(--secondary-color);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    background-color: var(--secondary-color);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#icon {
  height: 7rem;
  width: 7rem;
}

@media screen and (min-width: 899px) {
  #icon {
    height: 9rem;
    width: 9rem;
  }
}

.temperature-limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

.temperature-limit #temp-max {
  padding-right: .5rem;
}

.footer {
  margin-top: 10rem;
  margin-bottom: 1rem;
  position: relative;
}

.footer-content {
  font-size: 1.2rem;
}

.footer-content #author,
.footer-content a {
  color: var(--font-color);
}

.nav {
  margin-bottom: 2rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #353688;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5rem;
  position: relative;
  padding: .5rem;
  height: 2.6rem;
  width: 5rem;
}

.ball {
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  height: 2.2rem;
  width: 2.2rem;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
}

.fa-moon {
  color: black;
}

.fa-sun {
  color: #f39c12;
}

.forecast {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forecast__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 10px 40px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  background-color: var(--third-color);
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 499px) {
  .forecast__container {
    width: 40rem;
  }
}

.forecast__container:hover {
  background-color: var(--forecast-color);
  color: #ffffff;
}

.forecast__container-date {
  margin-top: 0.5rem;
  text-align: center;
}

.forecast__container-weather,
.forecast__container .forecast {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__container-weather-icon,
.forecast__container .forecast-icon {
  margin-left: 3rem;
}

.forecast__container-weather-temp,
.forecast__container .forecast-temp {
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forecast-description {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: var(--secondary-color);
}

.forecast__container:hover .forecast-description {
  color: #7768e5;
}
/*# sourceMappingURL=main.css.map */